includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - ../../.phpstan/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Bridge/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        -
            message: '#^Call to( static)? method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.$#'
            reportUnmatched: false
        -
            message: '#supportsNormalization\(\) has parameter \$context with no value type specified in iterable type array#'
            path: src/*
            reportUnmatched: false # only needed for older Symfony versions
        -
            message: '#getSupportedTypes\(\) return type has no value type specified in iterable type array#'
            path: src/*
            reportUnmatched: false # only needed for older Symfony versions
        -
            identifier: 'symfonyAi.forbidNativeException'
            path: tests/*
            reportUnmatched: false
        -
            identifier: 'trait.unused'
            path: src/JsonBodyEncodingTrait.php # only used by bridges, which are excluded from analysis

services:
    - # Conditionally enabled by bleeding edge in phpstan/phpstan-phpunit 2.x
        class: PHPStan\Type\PHPUnit\DataProviderReturnTypeIgnoreExtension
        tags:
            - phpstan.ignoreErrorExtension
